/********* Fonts ********/
@font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-weight: 400;
    src: url(../assets/fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-weight: 400;
    font-style: italic;
    src: url(../assets/fonts/Poppins-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-weight: 700;
    src: url(../assets/fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-weight: 700;
    src: url(../assets/fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-weight: 700;
    font-style: italic;
    src: url(../assets/fonts/Poppins-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-weight: 800;
    src: url(../assets/fonts/Poppins-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-weight: 800;
    font-style: italic;
    src: url(../assets/fonts/Poppins-ExtraBoldItalic.ttf) format('truetype');
}

/******* CSS reset *******/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit
}

img,
svg {
    display: block;
    max-width: 100%;
}

/********* Variables *********/

:root {

    /********** Colors ***********/

    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);

    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --light-smokey-grey: hsl(0, 1%, 44%, 0.8);
    --lighter-smokey-grey: hsl(0, 1%, 44%, 0.7);
    --off-black: hsl(0, 0%, 8%);

    /******** Typography *********/

    --ff-default: 'Poppins', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extra-bold: 800;

    --fs-400: 0.75rem;
    --fs-600: 1.25rem;
    --fs-800: 3.25rem;
}

/*********** Styles *********/

.grid {
    display: grid;
    align-items: start;
    gap: 1rem;
}

.grid[data-spacing="small"] {
    gap: 0.5rem;
}

.flex {
    display: flex;
    gap: 1rem;
}

body {
    background: var(--off-white);
    color: var(--off-black);
    font-family: var(--ff-default);
    font-weight: var(--fw-regular);
    line-height: 1;
}

main {
    min-height: 100vh;
    place-content: center;
}

.calculator {
    background: var(--white);
    padding: 2rem;
    min-width: 21.875rem;
    border-radius: 1rem 1rem 25%;
    overflow: auto;
}

.entries {
    justify-content: space-between;
}

form,
input {
    width: 5.125rem;
}

label {
    letter-spacing: 0.25rem;
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    color: var(--light-smokey-grey);
}

input {
    font-size: var(--fs-600);
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid var(--light-grey);
}

::placeholder {
    color: var(--lighter-smokey-grey);
}

.results {
    font-weight: var(--fw-extra-bold);
    font-style: italic;
    font-size: var(--fs-800);
}

.results span {
    color: var(--purple);
}

.divider {
    position: relative;
    justify-content: center;
    align-items: center;
}

.divider .line {
    position: absolute;
    border-bottom: 1px solid var(--light-grey);
    width: 100%;
    z-index: 1;
}

.divider svg {
    background: var(--purple);
    border-radius: 50%;
    width: 4.125rem;
    height: 4.125rem;
    padding: 1.25rem;
    z-index: 2;
}


/*********** Media *********/

@media (min-width: 600px) {
    .divider {
        justify-content: flex-end;
    }
}