/********* Fonts ********/
@font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-weight: 400;
    src: url(../assets/fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-weight: 400;
    font-style: italic;
    src: url(../assets/fonts/Poppins-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-weight: 700;
    src: url(../assets/fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-weight: 700;
    src: url(../assets/fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-weight: 700;
    font-style: italic;
    src: url(../assets/fonts/Poppins-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-weight: 800;
    src: url(../assets/fonts/Poppins-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-display: swap;
    font-weight: 800;
    font-style: italic;
    src: url(../assets/fonts/Poppins-ExtraBoldItalic.ttf) format('truetype');
}

/******* CSS reset *******/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit
}

img,
svg {
    display: block;
    max-width: 100%;
}

/********* Variables *********/

:root {

    /********** Colors ***********/

    --purple: hsl(259, 100%, 65%);
    --purple-var: 259, 100%, 65%;
    --light-red: hsl(0, 100%, 67%);
    --light-red-var: 0, 100%, 67%;

    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --smokey-grey-var: 0, 1%, 44%;
    --off-black: hsl(0, 0%, 8%);
    --off-black-var: 0, 0%, 8%;

    /******** Typography *********/

    --ff-default: 'Poppins', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extra-bold: 800;

    --fs-300: 0.8rem;
    --fs-400: 1rem;
    --fs-500: 1.2rem;
    --fs-600: 2rem;
    --fs-700: 3.1rem;
    --fs-800: 5.5rem;
}

/*********** Styles *********/

.grid {
    display: grid;
    align-items: start;
    gap: 1.5rem;
}

.grid[data-spacing="small"] {
    gap: 0.5rem;
}

.flex {
    display: flex;
    gap: 1rem;
}

body {
    background: var(--off-white);
    color: var(--off-black);
    font-family: var(--ff-default);
    font-weight: var(--fw-regular);
    line-height: 1.2;
}

main {
    min-height: 100vh;
    place-content: center;
}

.container {
    max-width: 93%;
    margin: 0 auto;
    border-radius: 1rem 1rem 25%;
    box-shadow: 0.1rem 0.1rem 1rem hsl(var(--off-black-var), .2);
    background: var(--white);
    padding: 3.5rem 2rem;
}

.entries {
    justify-content: space-between;
    max-width: 40rem;
}

label {
    letter-spacing: 0.15rem;
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    color: hsl(var(--smokey-grey-var), 0.9);
}

::placeholder {
    color: hsl(var(--smokey-grey-var), 0.6);
}

input {
    font-size: var(--fs-500);
    padding: 0.5rem 0.9rem;
    border-radius: 0.5rem;
    border: 2px solid hsl(var(--smokey-grey-var), .2);
    width: 100%;
}

input:hover{
    cursor: pointer;
    border: 2px solid hsl(var(--purple-var), .5);
}

p {
    font-size: small;
    font-style: italic;
    color: var(--light-red);
}

.results {
    font-weight: var(--fw-extra-bold);
    font-style: italic;
    font-size: var(--fs-700);
}

.results span {
    color: var(--purple);
}

.divider {
    position: relative;
    justify-content: center;
    align-items: center;
}

.divider .line {
    position: absolute;
    border-bottom: 1px solid var(--light-grey);
    width: 100%;
    z-index: 1;
}

.divider svg {
    background: var(--purple);
    border-radius: 50%;
    width: 3.8rem;
    height: 3.8rem;
    padding: 1rem;
    z-index: 2;
}

.divider svg:hover {
    background: var(--off-black);
    cursor: pointer;
}


/*********** Media *********/

@media (min-width: 600px) {

    .flex{
        gap: 1.5rem;
    }

    .grid {
        gap: 0;
    }

    .container {
        padding: 3rem;
        max-width: 52.5rem;
    }

    .entries {
        width: 75%;
    }

    label {
        font-size: var(--fs-400);
    }

    input {
        padding: 1rem;
        font-size: var(--fs-600);
    }

    .results {
        font-size: var(--fs-800);
    }

    .divider {
        justify-content: flex-end;
    }

    .divider svg {
        background: var(--purple);
        border-radius: 50%;
        width: 5.5rem;
        height: 5.5rem;
        padding: 1.45rem;
        z-index: 2;
    }
}